/* 🌟 Login Page Styles */
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #89CFF0;
    color: white;
  }
  
  .loginBox {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
    width: 350px;
  }
  
  .loginBox h1 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .loginBox p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
  }
  
  .loginInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ccc;
    font-size: 16px;
  }
  
  .loginButton {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background 0.3s ease;
  }
  
  .loginButton:hover {
    background: #0056b3;
  }
  
  .loginError {
    color: red;
    margin-bottom: 10px;
  }
  
  .loginLink {
    margin-top: 15px;
    font-size: 14px;
    color: white;
  }
  
  .loginLink a {
    color: #c4a62d;
    text-decoration: none;
  }
  
  .loginLink a:hover {
    text-decoration: underline;
  }
  
  .registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #89CFF0;
    color: white;
  }
  
  .registerBox {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #555;
    width: 350px;
  }
  
  .registerBox h1 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .registerBox p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
  }
  
  .registerInput {
    width: 100%;
    background: #ccc;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .registerButton {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background 0.3s ease;
  }
  
  .registerButton:hover {
    background: #0056b3;
  }
  
  .registerMessage {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .registerError {
    color: red;
  }